LLAMA_ARG_CTX_SIZE: 8192
LLAMA_ARG_N_PARALLEL: 1

LLAMA_ARG_N_GPU_LAYERS: all
LLAMA_ARG_N_CPU_MOE: 20

LLAMA_ARG_FLASH_ATTN: on

LLAMA_ARG_BATCH: 1024
LLAMA_ARG_UBATCH: 512

LLAMA_ARG_THREADS: 4

LLAMA_ARG_CACHE_PROMPT: true
LLAMA_ARG_CACHE_RAM: 4096

LLAMA_ARG_JINJA: true
LLAMA_ARG_REASONING: auto
LLAMA_ARG_CHAT_TEMPLATE_KWARGS: '{"reasoning_effort":"low"}'